button{
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrprCanvasStyle {
    position: relative;
    width: 720px;
    height: 480px;

    canvas {
        background-image: url(./img/9_intro_outro_screens/start/startscreen_1.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .overlayStyle {
        width: 720px;
        height: 480px;
        position: absolute;
        top: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .btnsTopStyle{
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .btnMuteStyle{
                margin-right: 40px;
            }
        }
        
        .btnsBottomStyle {
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .hide {
            display: none;
        }
    }
}
