/* #region general */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
}

button {
    cursor: pointer;
}

/* sancreek-regular - latin_latin-ext */
@font-face {
    font-display: swap;
    font-family: "Sancreek";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/sancreek-v27-latin_latin-ext-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* #endregion */

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/5_background/desert-backgr.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Sancreek", serif;
}

.positionCenter {
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 48px;
    font-size: 48px;
    color: brown;
    text-shadow: 1px 1px 2px rgb(58, 13, 13);
}

#rotateMessage {
    font-size: clamp(1.1rem, 3vw, 1.5rem);
    text-align: center;
    padding: 8px;
}

/* #region canvas */
.wrprCanvasStyle {
    position: relative;
    width: min(720px, 100dvw, calc(100dvh * 1.5));
    aspect-ratio: 720 / 480;

    canvas {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        box-shadow: 1px 1px 5px;
        background-image: url(./img/9_intro_outro_screens/start/startscreen_1.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* #region canvas overlay */
    .overlayStyle {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .btnsStyle {
            color: black;
            background-color: #ff9600;
            border: #8c3618 solid 2px;
            border-radius: 15px;
            padding: 4px;
            font-size: clamp(1.1rem, 3vw, 1.5rem);
            text-shadow: 1px 1px 2px black;
            box-shadow: 1px 1px 5px;
        }

        .btnsStyle:hover {
            transform: scale(1.05);
        }

        .btnsTopStyle {
            width: 100%;
            height: fit-content;
            padding: 8px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            #wrprTopBtns {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .btnMuteStyle {
                    font-size: 0;
                    width: clamp(35px, 6vw, 50px);
                    aspect-ratio: 1 / 1;
                    img {
                        width: 100%;
                    }
                }

                .levelStyle {
                    background: none;
                    backdrop-filter: blur(2px);
                    color: black;
                    border: #93cbdf 1px solid;
                    border-radius: 15px;
                    padding: 4px;
                    font-size: clamp(0.9rem, 2vw, 1.1rem);
                    text-shadow: 1px 1px 2px #93cbdf;
                    box-shadow: 1px 1px 5px;
                }
            }

            .btnStartWrprStyle {
                width: 100%;
                text-align: center;
            }
        }

        .btnsBottomStyle {
            width: 100%;
        }

        .btnsPostGameStyle {
            width: 100%;
            height: fit-content;
            padding-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .wrprImpressum{
            padding-bottom: 10px;

            .btnImpessum{
            font-size: clamp(0.9rem, 2.5vw, 1.2rem);

            }
        }

        .mobileBtnsStyle {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 6px;

            div {
                display: flex;
                gap: 20px;
            }

            button {
                font-size: 0;
                width: clamp(35px, 6vw, 50px);
                aspect-ratio: 1 / 1;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .hide {
            display: none;
        }

        .invisible {
            visibility: hidden;
        }
    }
    /* #endregion */
}

.hide {
    display: none;
}

/* #endregion */

/* #region dialog */
.wrprDialog {
    background-color: blanchedalmond;
    border: #702a0a solid 1px;
    border-radius: 20px;
    height: fit-content;
    font-size: 16px;
    width: clamp(300px, 50dvw, 500px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 14px;
    position: fixed;
    inset: 0px;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
    z-index: 1;

    #wrprBtnClose {
        text-align: right;

        button {
            img {
                width: 25px;
                height: 25px;
            }
        }

        button:hover {
            transform: scale(1.1);
        }
    }

    h2 {
        margin-bottom: 8px;
    }
}

#gameInfo::backdrop {
    overflow: hidden;
    overscroll-behavior: contain;
    background-color: black;
    opacity: 0.5;
}

/* #endregion */

#impressum{
    font-family: Arial, Helvetica, sans-serif;
}
