* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
}

button {
    cursor: pointer;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/5_background/desert-backgr.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Sancreek", serif;
}

h1 {
    margin: 48px;
    font-size: 48px;
    color: brown;
    text-shadow: 1px 1px 2px rgb(58, 13, 13);
}

.wrprCanvasStyle {
    position: relative;
    width: 720px;
    height: 480px;

    canvas {
        border-radius: 20px;
        box-shadow: 1px 1px 5px;
        background-image: url(./img/9_intro_outro_screens/start/startscreen_1.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .overlayStyle {
        width: 720px;
        height: 480px;
        position: absolute;
        top: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .btnsStyle {
            color: black;
            background-color: #ff9600;
            border: #8c3618 solid 2px;
            border-radius: 15px;
            padding: 4px;
            font-size: 24px;
            text-shadow: 1px 1px 2px black;
            box-shadow: 1px 1px 5px;
        }

        .btnsStyle:hover {
                transform: scale(1.05);
            }

        .btnsTopStyle {
            width: 100%;
            height: fit-content;
            padding: 8px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;

            .btnMuteStyle {
                height: 52px;
                img {
                    width: 40px;
                }
            }

            .btnStartWrprStyle {
                width: 100%;
                text-align: center;
            }
        }

        .btnsBottomStyle {
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .hide {
            display: none;
        }
    }
}
